<div class="carousel">
  <div class="slide-left">
    <div class="arrows">
      <span id="commentsArrowLeft" class="arrow left" aria-label="Ver comentário anterior"></span>
    </div>
  </div>

  <div id="c-slider">
    <% comentarios.forEach(function(comentario) { if(comentario.visible) { %>
      <div class="keen-slider__slide">
        <div class="content">
          <div class="foto">
            <img alt="Foto de perfil <%= comentario.name %>" src="/img/<%= comentario.webp %>"
              onerror="this.onerror=null;this.src='/img/<%= comentario.png %>'" loading="lazy">
          </div>
          <div class="texto">
            <p class="nome">
              <%= comentario.name %>
            </p>
            <p class="descricao">
              <%- comentario.text %>
            </p>
          </div>
        </div>
      </div>
      <% } }); %>
  </div>

  <div class="slide-right">
    <div class="arrows">
      <span id="commentsArrowRight" class="arrow right" aria-label="Ver próximo comentário"></span>
    </div>
  </div>

  <div id="commentsDots" class="dots">
    <% comentarios.forEach(function(comentario) { if(comentario.visible) { %>
      <span></span>
      <% } }); %>
  </div>
</div>